body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
   
}

.app {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h1{
  color: black;
}
.title {
  text-align: center;
  font-size: 2cm;
  color:black;
  margin-bottom: 40px;
  animation: slideDown 0.6s ease-out;
}

.info-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}
 p{
  font-size: 29px;
 }
.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1.5);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.canvas-wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1.5);
  overflow: auto;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-40px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 0.7s ease-out forwards;
  opacity: 0;
}

.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
